.header {
    background-size: cover;
    background-position: center;
    height: 95vh;
    text-align: center;
    position: relative;
}

.row {
    margin-right: 0 !important;
}

.title-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0px 5px 20px black;
    padding: 30px;
    h1 {
        font-family: 'Merienda', cursive;
        color: rgb(233, 231, 231);
        font-size: 50px;
    }
}

.button, .button:visited {
    text-decoration: none;
    display: inline-block;
    padding: 0px 25px;
    border-radius: 20px;
    transition: all 0.2s;
    backface-visibility: hidden;
    border: none;
    appearance: initial;
    outline: none !important;
    
    a:hover {
        text-decoration: none;
    }
}

.button--header {
    padding: 15px 40px;
    margin-top: 10px;
    text-transform: uppercase;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

.button--green {
    background-color: #40BAA6;
    color: white;
    a {
        color: white;
    }
} 

@media (max-width: 576px) {
    .title-box {
        h1 {
            font-size: 2em;
        }
    }

    .button, .button:visited {
        padding: 15px 30px;
    }
}

.introduction__steps {
    min-height: 50vh;
    background-color: #EEF0F2;
    text-align: center;
}

.introduction__steps__first {
    padding: 20px;
    margin: auto;
    img {
        max-height: 200px;
    }
    p {
        padding: 20px;
    }
}

.introduction__steps__second {
    padding: 20px;
    margin: auto;
    img {
        max-height: 200px;
    }
    p {
        padding: 20px;
    }
}

.introduction__steps__third {
    padding: 20px;
    margin: auto;
    
    img {
        max-height: 200px;
    }
    p {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .introduction__steps {
        img {
            max-height: 150px;
        }
    }
}

.introduction__comment {
    min-height: 50vh;
    background-color: #40BAA6;
}

.introduction__comment__image {
    background-size: cover;
    background-position: center;
}

.introduction__comment__text {
    h2 {
        text-align: center;
    }
    color: white;
    font-size: 1.5em;
    padding: 20px;
}

@media (max-width: 576px) {
    .introduction__comment__image {
        display: none;
    }
    .introduction__comment {
        position: relative;
        text-align: center;
    }
    .introduction__comment__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1.3em;
    }
}

.purpose {
    background-color: #3D8DC4;
    min-height: 50vh;
    padding: 30px 0px;
}

.plane-icon, .form-section {
    display: inline-block;
}

@media (max-width: 767px) {
    .plane-icon {
        display: none;
    }
    .form-section {
        margin: auto;
        text-align: center;
        padding-right: 0; 
    }
}
    
#form {
    border: solid 1px gray;
    border-radius: 20px;
    background-color: #EEF0F2;
    padding: 0;
    display: inline-block;
}
.form__head {
    padding: 10px;
    text-align: center;
    background-color: #E35B4E;
    color: #EEF0F2;
    border-radius: 10px 10px 0 0;
}
.form__data {
    padding: 10px;
    line-height: 2;
    input, select {
        border-radius: 10px;
        padding: 3px;
        backface-visibility: hidden;
        outline: none;
        height: 28px;
    }
    input {
        line-height: normal;
        font-size: initial;
        border-style: none;
        border: solid 1px rgba(128, 128, 128, 0.651);
    }
    select {
        font-size: 0.7em;
    }
    select:hover, input:hover {
        border-color: #3D8DC4;
        box-shadow: 0 0 10px gray;
    }
}
.center-button {
    text-align: center;
}

.plane-icon {
    img {
        max-height: 300px;
        vertical-align: baseline;
    }
}

.button--form {
    margin-top: 20px;
    cursor: pointer;
}

.inspiration {
    min-height: 50vh;
    background-color: #EEF0F2; 
}

.inspiration__text {
    color: rgb(56, 56, 56);
    font-size: 1.5em;
    padding: 40px 60px;
}

.inspiration__image {
    background-size: cover;
    background-position: center;
}

@media (max-width: 576px) {
    .inspiration__image {
        display: none;
    }
    .inspiration__text {
        text-align: center;
        padding: 40px 0;
    }
}

.herramientas {
    min-height: 100vh;
    background-color: #40BAA6;
}

.herramientas__head {
    color: white;
    background-color: #E35B4E;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 10px rgb(36, 36, 36);
}

.card {
    background-color: #FFFFFF;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px gray;
    min-height: 387px;
    img {
        max-height: 250px;
    }
}

.card__text {
    padding: 10px;
}

.gallery-card, .wheather-card, .trending-card, .money-card, .housing-card, .diary-card {
    margin: 60px 0px;
    padding: 0 30px;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 991px) {
    .trending-card {
        margin: auto;
    }
    .card img {
        max-height: 200px;
    }
    .card {
        min-height: auto;
    }
} 
@media (max-width: 768px) {
    .gallery-card, .wheather-card, .trending-card, .money-card, .housing-card, .diary-card {
        margin: 30px auto;
    }
    .card img {
        max-height: 180px;
    }
    .card {
        min-height: auto;
    }
}

.button--dark-green {
    background-color: #28323F;
    color: white;
    a {
        color: white;
    }
} 

.button--card {
    font-size: 1.5em;
    padding: 3px 60px;
    cursor: pointer;
}

footer {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.footer__top {
    min-height: 60vh;
    text-align: center;
    color: white;
    margin: auto;
    h1 {
        font-size: 50px;;
        padding: 20px;
    }
    p {
        font-family: "Segoe Script", sans-serif;
        font-size: 40px;
    }
}

@media (max-width: 800px) {
    .footer__top {
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 25px;
        }
    }
    .footer__sponsored {
        margin-top: 20px !important;
        img {
            max-height: 80px !important;
        }
    }
    .footer__bottom {
        text-align: center;
    }
    
}

.footer__bottom {
    min-height: 40vh;
    background-color: rgba(41, 41, 41, 0.5);
    color: white;
    padding: 40px 70px;
}

.button--red {
    background-color: #E35B4E;
    color: white;
    a {
        color: white;
    }
}

.footer__button-holder {
    padding: 20px;
}

.button--footer {
    padding: 5px 40px;
    border-radius: 10px;
    font-size: 1.5em;
}

.footer__bottom {
    font-family: 'MV Boli', sans-serif;
    font-size: 1.3em;
}

#facebook {
    a {
        color: #3D8DC4 !important;
    } 
}

#twitter {
    a {
        color: #B2E0FF !important;
    } 
}

#instagram {
    a {
        color: #FC867B !important;
    } 
}

.personal-data__name {
    color: #E35B4E;
    font-size: 1.4em;
}

.footer__sponsored {
    font-size: 1.5em;
    img {
        max-height: 130px;
    }
}
