.gallery-body {
    background-color: white;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    h1 {
        padding: 30px;
        color: #E35B4E;
    }
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    margin: 10px;
    background-color: #EEF0F2;
    border-radius: 5px;
    box-shadow: 0 0 1px rgb(141, 141, 141);
    div {
        padding: 5px;
    }
}

.gallery-body2 {
    background-color: #40BAA6;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    h1 {
        padding: 30px;
        color: #E35B4E;
    }
}
.gallery-grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    margin: 10px;
    background-color: #EEF0F2;
    border-radius: 5px;
    box-shadow: 0 0 1px rgb(141, 141, 141);
    div {
        padding: 5px;
        margin: 20px 0;
    }
}

.gallery__title-box {
    h1 {
        color: #272727;
        font-family: cursive; 
    }
    
}