.blog-header {
    min-height: 70vh;
    background-position: center;
    background-size: cover;
    h1{
        padding: 60px 10px;
        color: white;
        text-shadow: 0 4px 10px rgb(99, 99, 99);
    }
}

.blog-posts__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    min-height: 100px;
    grid-gap: 10px;
    div {
        margin: 20px 30px;
        a {
            color: rgb(37, 37, 37);
        }
        h2 {
            padding: 20px;
            margin: 0;
            border-radius: 5px 5px 0 0;
            background-color: #E35B4E;
            text-align: center;
            font-family: serif;
            color: rgb(238, 238, 238);
        }
        p {
            background-color: rgb(236, 236, 236);
            margin: 0;
            padding: 5px 20px;
            border-radius: 0 0 5px 5px;
        }
    }
}

.post {
    background-color: rgb(245, 245, 245);
    padding: 20px;
    border-radius: 5px;
}

.single-post {
    margin-top: 30px;
    img {
        // max-height: 320px;
    }
}

.post-head {
    text-align: center
}

.post-body {
    margin: 20px 0px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;

}
