#map {
    height: 80vh;
    width: 100%;
    border-radius: 5px;
  }

.maps-body {
    text-align: center;
    h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 20px;
        color:#E35B4E;
    }
}

.maps-body2 {
    text-align: center;
    h1 {
        font-family: cursive;
        padding: 20px;
        color:rgb(27, 27, 27);
    }
}

.all {
    background-color: #40BAA6;
}