nav {
    height: 70px;
    background-color: #eef0f2;
    font-family: tahoma, sans-serif;
    box-shadow: 0 1px 20px 0px #616161;
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    color: #616161;
    text-align: center;
    input {
        display: none;
    }
    label {
        display: none;
        cursor: pointer;
    }
}
.nav__first {
    float: left;
    border-right: 1px solid #80808070;
    height: 100%;
    padding: 20px;
    width: 25%;
    img {
        max-height: 100%;
    }
}

.nav__second {
    float: left;
    border-right: 1px solid #80808070;
    height: 100%;
    padding: 20px;
    width: calc(75% / 4);
}
.nav__third {
    float: left;
    border-right: 1px solid #80808070;
    height: 100%;
    padding: 20px;
    width: calc(75% / 4);
}
.nav__fourth {
    float: left;
    border-right: 1px solid #80808070;
    height: 100%;
    padding: 20px;
    width: calc(75% / 4);
}
.nav__fifth {
    float: left;
    height: 100%;
    padding: 20px;
    width: calc(75% / 4);
}
a {
    color: #616161;
}

a:hover {
    color: #616161;
    text-decoration: none;
}

.nav__adaptative {
    background-color: #eef0f2;
    transition: all 0.5s;
    box-shadow: 0 1px 20px 0px #616161;
    display: none;
    padding-top: 70px;
    padding-right: 20px;
    text-align: center;
    line-height: 1.5;
    a {
        display: block;
    }
    i {
        display: none;
    }
}

@media (max-width: 1128px) {
    a span {
        display: none;
    }
}

@media (max-width: 585px) {
    .nav__second, .nav__third, .nav__fourth, .nav__fifth {
        display: none;
    }
    nav {
        label {
            font-size: 35px;
            float: right;
            margin-right: 20px;
            display: inline;
        }
    }
    .nav__first {
        border: none;
    }

    #toggle:checked + .nav__adaptative {
        display: block;
        a span {
            display: inline;
        }
    }
}